version: "3.8"
services:
  jobmanager:
    image: flink:1.20.2
    ports:
      - "8081:8081"
    command: jobmanager
    volumes:
      - ./syncDocker/:/opt/flink/usrlib
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager

  taskmanager:
    image: flink:1.20.2
    depends_on:
      - jobmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 10
