networks:
  kafka-tutorials:
    name: kafka-tutorials
    driver: bridge

services:
  kafka:
    image: "apache/kafka:latest"
    ports:
      - "9092:9092"
    networks:
      - kafka-tutorials
    environment:
      - KAFKA_BROKER_ID=0
      - KAFKA_NODE_ID=0
      - CLUSTER_ID=O94qfF0pQ4-lNvW65-IeRg
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_LISTENERS=BROKER://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=BROKER://localhost:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,BROKER:SASL_PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=BROKER
      - KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL=PLAIN
      - KAFKA_SASL_ENABLED_MECHANISMS=PLAIN
      # Create user
      - KAFKA_CLIENT_USERS=admin,user1
      - KAFKA_CLIENT_PASSWORDS=admin-secret,user1-secret
    volumes:
      - kafka_data:/tmp/apache/kafka

volumes:
  kafka_data:
    driver: local
